<% provide(:title, 'Sequences') %>
<!DOCTYPE html>
<html>
  <head>
    <title><% :title %>	</title>
  </head>
  <body>
  	<div class="center hero-unit">
    <h1>Sequences</h1>
    <p>
      <div style="float:left;margin-right:10px;margin-bottom: 10px;"><%= link_to "Scene 1", '#', class: "btn btn-large btn-primary" %> </div>
      <div style="float:left;margin-right:10px;margin-bottom: 10px;"><%= link_to "Scene 2", '#', class: "btn btn-large btn-primary" %> </div>
      <div style="float:left;margin-right:10px;margin-bottom: 10px;"><%= link_to "Scene 3", '#', class: "btn btn-large btn-primary" %> </div>
      <div style="float:left;margin-right:10px;margin-bottom: 10px;"><%= link_to "Scene 4", '#', class: "btn btn-large btn-primary" %> </div>
      <div style="float:left;margin-right:10px;margin-bottom: 10px;"><%= link_to "Scene 5", '#', class: "btn btn-large btn-primary" %> </div>
      <div style="float:left;margin-right:10px;margin-bottom: 10px;"><%= link_to "Scene 6", '#', class: "btn btn-large btn-primary" %> </div>
      
    </p>
    </div>
  </body>
</html>