<p id="notice"><%= notice %></p>

<p>
  <strong>Slot:</strong>
  <%= @singlescene.slot %>
</p>

<%= link_to 'Edit', edit_singlescene_path(@singlescene) %> |
<%= link_to 'Back', edit_singlescene_path(@singlescene) %> |
<%= link_to 'MonsterRemote Home', :home %>
