<!DOCTYPE html>
		<div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="well">
              <%= form_for @scene, :html => {:class => "form-horizontal"} do |f| %>
				  <% if @scene.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@scene.errors.count, "error") %> prohibited this jumpsquare from being saved:</h2>
				
				      <ul>
				      <% @scene.errors.full_messages.each do |msg| %>
				        <li><%= msg %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>        
                <fieldset>
                  <legend>Scene: <%= @scene.name %></legend>
                  <div class="form-group">
                  	<%= f.label :name, "Scene Name:", :class => "col-lg-4 control-label" %>     
                    <div class="col-lg-7">
                      <%= f.text_field :name, :class => "form-control" %>	 
                    </div>
                  </div>
                  <br>                  
                  <div class="form-group">
                  	<%= f.label :enabled, "Enabled:", :class => "col-lg-4 control-label" %>
                    <div class="col-lg-4">
                      <%= f.check_box :enabled, :class => "form-control" %>
                    </div>
                  </div>                                  
                  <center>
	                  <div class="form-group">	                  	                  
	                      <%= f.submit class: 'btn btn-primary'%>	                    
	                  </div> 
			<% end %>	                              
	                  <%= link_to :back, class: "pull-left", :method => :get do %>
	        			 Back
	    			  <% end %>
	                     
	                  <%= link_to :home, class: "pull-right", :method => :get do %>
	        			Home
	    			  <% end %>       
                  </center>
                </fieldset>
             
            </div>
          </div>
        </div>
</html>
