<%= form_for(@rasberry_pi) do |f| %>
  <% if @rasberry_pi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rasberry_pi.errors.count, "error") %> prohibited this Raspberry Pi/Server Setting from being saved:</h2>

      <ul>
      <% @rasberry_pi.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ipdns, "IP Address or DNS Name" %><br>
    <%= f.text_field :ipdns %>
  </div>
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
