<% provide(:title, 'Settings') %>
<!DOCTYPE html>
<html>
  <head>
    <title><% :title %>	</title>
  </head>

<h2>Raspberry Pi/Server Settings</h2>

<body>
	These settings will enable you to remotely shutdown a Raspberry Pi or linux based machine that accepts the "shutdown" command. 
	Shutting down your Raspberry Pi using native linux commands will minimize risk to file corruption. These settings do not change or manipulate the Raspberry Pi
	
</body>
<br>
<br>
<table>
  <thead>
    <tr>
      <th style="padding-right: 15px">IP Address or DNS Name</th>
      <th style="padding-right: 15px">Username</th>
      <th style="padding-right: 15px">Password</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rasberry_pis.each do |rasberry_pi| %>
      <tr>
        <td style="padding-right: 15px"><%= rasberry_pi.ipdns %></td>
        <td style="padding-right: 15px"><%= rasberry_pi.username %></td>
        
        <td style="padding-right: 15px">&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679</td>
        <td><%#= link_to 'Show', rasberry_pi %></td>
        <td><%= link_to 'Edit', edit_rasberry_pi_path(rasberry_pi) %></td>
        <td><%#= link_to 'Destroy', rasberry_pi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<br><body>
	The settings will change how your Pi/Server is interacting with the MonsterShield. Set the communications port of your server accordingly.
	  ttyACM0 is usually default in Raspberry Pi configurations. ttyUSB configurations are used for linux. usbmodem are used in Mac configurations. COM are used in PC configurations. Only Raspberry Pi and Mac configurations have been tested.
	   The MonsterShield baud rate is 115200 by default.
	
</body>
<br>
<br>
	<table>
  <thead>
    <tr>
      <th style="padding-right: 15px">Communications Port</th>
      <th style="padding-right: 15px">Baud Rate</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @comsettings.each do |comsetting| %>
      <tr>
        <td style="padding-right: 15px"><%= comsetting.comport %></td>
        <td style="padding-right: 15px"><%= comsetting.baud %></td>
        <td style="padding-right: 15px"><%= link_to 'Edit', edit_comsetting_path(comsetting) %></td>
        <td><%#= link_to 'Destroy', comsetting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
	<center>
		<div style="float:center;margin-right:10px;margin-bottom: 10px;">
      			<%= button_to "Shutdown Pi", shutdown_pi_path, class: "btn btn-large btn-danger", data: { confirm: "Warning!   Are you sure?"}, :method => :post %> 
     	</div>
    </center>
<%#= link_to 'New Rasberry pi', new_rasberry_pi_path %>

</html>
